@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao: #f9faf4;
    --cor-padrao-hover: #E1CAC0;
    --cor-texto-claro: #d3b8a3;
    --cor-formulario: #f4f4e4;
    --cor-btn-houver: #e29885;
    --cor-btn: #754c2e;
    --cor-texto-escuro: #130b09;
    --cor-fundo: #ffffff;
    --cor-btn-fonte: #675644;
    --cor-texto-detalhes: #d4c5be;
}

head{
    box-shadow: #675644;
}

body{ 
    font-family: 'Lora', sans-serif;

}

.banner{
    background: var(--cor-fundo);
}


.banner .linha{
    margin-top: 70px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}


nav ul{
    display: inline-block;
    list-style-type: none;
}


nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: var(--cor-texto-escuro);
}

.banner p{
    color: var(--cor-texto-claro);
}

p{
    color: var(--cor-texto-claro-p);
}

.linha{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    
}

.col-2 img{
    max-width: 77%;
    padding: 45px 45px;
    float: right;
    


}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: #130b09;
}

.col-2 p{
    font-weight: 600;
    color: var(--cor-btn-fonte);
}

.btn{
    text-decoration: none;
    color: var(--cor-texto-detalhes);
    background-color: var(--cor-btn);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background: var(--cor-btn-houver);
    color:var(--cor-btn-fonte);
}

.categorias{
    margin: 70px 0;

}

.corpo-categorias{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.col-4{
flex-basis: 24%;
min-width: 200px;
padding: 10px;
margin-bottom: 50px;
transition: transform 0.5s;
}


.col-4:hover {
    transform: scale(1.1);
}

.col-4 img{
    width: 100%;
    object-fit: cover ;
    object-position: center;
}

.titulo{
    position: relative;
    line-height: 60px;
    margin: 0 auto 80px;
    text-align: center;
    color: var(--cor-texto-claro);
}

.titulo.titulo::after{
    content: '';
    background-color: var(--cor-padrao);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: var(--cor-texto-claro);
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.classificacao ion-icon{
    color: var(--cor-btn-houver);
}

.ofertas{
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .oferta-img{
    padding: 50px;
}

small{
    color: var(--cor-btn-fonte);
}

.depoimentos{
    padding-top: 10px;
}

.depoimentos .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5;
}

.depoimentos .col-3:hover{
    transform: scale(1.1);
}

.depoimento .col-3 img{
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid var(--cor-padrao-hover);
}

.depoimento-icone{
    font-size: 34px;
    color: var(--cor-padrao);
}

.col-3 p{
    font-size: 13px;
    color: var(--cor-texto-claro);
    margin: 12px 0;
}

.depoimentos .col-3 h3{
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-texto-claro);
}

/*rodape*/

.rodape{
    background: var(#E5E5E5);
    color: var(--cor-btn-fonte);
    padding: 60px 0 20px;
    font-size: 14px;
}

.rodape p{
    color: var(--cor-btn-fonte);
}

.rodape h3{
    color: var(--cor-btn-houver);
    margin-bottom: 20px;
}

.rodape-col-1, .rodape-col-2, .rodape-col-3{
    min-width: 250px;
    margin-bottom: 20px;
}

.rodape-col-1{
    flex: 1;
    text-align: center;
}

.rodape-col-1 img{
    width: 180px;
    margin-bottom: 20px;
}

.rodape-col-2, .rodape-col-3,.rodape-col-4{
    flex-basis: 12%;
    text-align: right;
}

.rodape-col-3 a{
    color: #fff !important;
    text-decoration: none;

}

.rodape-col-4 a{
    color: #fff !important;
    text-decoration: none;

}

ul{
    list-style-type: none;
}

.rodape hr{
    border: none;
    height: 1px;
    background: var(--cor-texto-claro);
    margin: 20px 0;
}

.direitos{
    text-align: center;

}

.menucelular{
    width: 28px;
    margin-top: 20px;
    display: none;
}

/*produtos*/
.novomenu {
    box-shadow: 0 2px 0 0 rgba(255, 0, 0, 0.1);
}
.linha2{
    margin: 100px auto 50px;
    justify-content: space-between;
}
.linha2 select{
    padding: 5px;
    border: 1px solid var(--cor-padrao);
}
.linha2 select:focus{
    outline: var(--cor-btn-houver);
}
.paginacao{
    margin: 0 auto 80px;
}
.paginacao span{
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid var(--cor-padrao);
    text-align: center;
    line-height: 40px;
    margin-left: 10px ;
    cursor: pointer;
}

.paginacao span:hover{
    background: var(--cor-texto-claro-leve);
    color:#764C2E
}

/*detalhes produtos*/

.ver-produto{
    margin-top: 10px;
}

.ver-produto .col-2 img{
    width: 100%;
    padding: 0;
}

.ver-produto #produtoImg{
    width: 600px;
    height: 450px;
    object-fit: cover;
    object-position: top;
}

.ver-produto .col-2{
    padding: 40px;
}

.ver-produto h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.ver-produto select{
    display: block;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--cor-btn);
}

.ver-produto select:focus{
    outline: none;
}

.ver-produto input{
    width: 50px;
    height: 40px;
    margin-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    border: 1px solid var(--cor-padrao);
}

.ver-produto input:focus{
    outline: none;
}

.ver-produto .btn{

    text-decoration: none;
    color: var(--cor-texto-claro);
    background-color: var(--cor-btn);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
    
.btn:hover{
        background: var(--cor-btn-houver);
        color:var(--cor-btn-fonte);

}

.ver-produto .btn:hover{
    background-color: var(--cor-btn-houver);

}

.ver-produto p{
    font-size: 13px;
}

.img-linha{
    display: flex;
    justify-content: space-between;
}

.img-col {
    flex-basis: 32%;
    cursor: pointer;
}

/*mcarrinho de compras */
.carrinho-compras{
    width: 100%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.info-carrinho{
    display: flex;
    flex-wrap: wrap;
}

th{
    background-color: var(--cor-padrao);
    color: var(--cor-texto-claro);
    text-align: left;
    font-weight: normal;
    padding: 5px;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: var(--cor-btn);
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.valor-total{
    display: flex;
    justify-content: flex-end;
}

.valor-total table{
    border-top: 3px solid var(--cor-texto-claro-leve);
    width: 100%;
    max-width: 450px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.btn-carrinho{
    background: var(--cor-texto-claro-leve);
    padding: 5px;
    color: var(--cor-texto-claro);
    border-radius: 5px;
    border: none;
    border: pointer;
}

.btn-carrinho:hover{
    background-color: #492811;

}

.carrinhoFormRadio, input[type=radio], input[type=checkbox]{
    text-align: right;
    border: none;
    height: 12px;
}


/*minha conta*/

.minha-conta{
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
    padding: 50px 0;
}

.formulario{
    position: relative;
    padding: 20px 0;
    text-align: center;
    width: 300px;
    height: 400px;
    margin: auto;
    background-color: var(--cor-formulario);
    box-shadow: 30px 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.formulario span{
    display: inline-block;
    width: 100px;
    padding: 0 10px;
    font-weight: bold;
    color: var(--cor-texto-claro);
    cursor: pointer;
}

.btn-form{
    display: inline-block;
}

.formulario form{
    position: absolute;
    top: 110px;
    max-width: 300px;
    padding: 0 20px;
    transition: transform 1s;
}

.formulario form input{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid var(--cor-padrao);
    border-radius: 3px;
}

.formulario form input:focus{
    outline: none;
}

.formulario form{
    width: 100%;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: var(--cor-padrao);
    cursor: pointer;
}

.formulario form .btn:hover{
    background-color: var(--cor-btn-hover);
}

.formulario form a{
    font-size: 12px;
    text-decoration: none;
    color: var(--cor-texto-claro);
    cursor: pointer;
}

#EntrarPainel{
    left: -300px;
}

#CadastroSite{
    left: 0;
}

#Indicador{
    width: 100px;
    height: 3px;
    border: none;
    background-color: var(--cor-padrao);
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}

#Indicador.Cadastro {
    transform: translateX(0);
}

#Indicador.Entrar {
    transform: translateX(100%);
}

/*menu celular*/

@media only screen and (max-width:800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: var(--cor-btn-font);
        width: 100%;
        overflow: hidden;
        transition: max-heigth 0,5s;
        
    }

    nav ul li{
        display: block;
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 10px;

    }

    nav ul li{
        color: var(--cor-texto-claro);
    }

    .menucelular{
        display: block;
        cursor: pointer;
    }
}

/*celular 600*/

@media only screen and (max-width:600px){
    
    .linha{
        text-align: center;
    }

    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

    .col-2 h1{
        font-size: 27px;
    }
    .rodape-col-3,.rodape-col-4, .rodape-col-2{
        text-align: center;
    }
    .col-4 p{
        font-size: 24px;
    }

    .novoMenu nav ul li a{
        color: var(--cor-texto-claro);
    }

    .banner, .banner img{
        text-align: center;
        flex-basis: 50%;
        align-items: center;
    }

    .ver-produto .col-2{
        margin: 20px;
    }

    .ver-produto .linha{
        text-align: left;
    }

    .ver-produto h1{
        font-size: 26px;
        line-height: 26px;
    }

    .info-carrinho p{
        display: none;
    }

}